# Compiled Executables (Windows/Linux)
*.exe
*.out
*.o
*.obj

# IDE folders
.vscode/
.idea/

# Large folders
bin/
build/01-NumberGuessingGame/PlayGame
01-NumberGuessingGame/highscore.txt
01-NumberGuessingGame/PlayGame
